[Unit]
Description=Server for loco, the location based attendance app.
After=network-online.target

[Service]
User=loco
Group=loco
WorkingDirectory=/home/loco/group69_comp208/
ExecStart=/home/loco/group69_comp208/bootstrap.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
