[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
hupper = "*"
mariadb = "*"
mysql-connector-python = "*"
pyjwt = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
waitress = "*"
watchdog = "*"
yagmail = "*"
sphinxcontrib-httpdomain = "*"

[dev-packages]

[requires]
python_version = "3"
