[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
hupper = "*"
importlib-metadata = "*"
mariadb = "*"
mysql-connector-python = "*"
pyjwt = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-httpdomain = "*"
waitress = "*"
watchdog = "*"
yagmail = "*"

[dev-packages]
autopep8 = "*"
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3"
